:root {
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}
@layer components {
  .btn {
    @apply flex gap-2 justify-center items-center px-8 py-3 font-bold tracking-wide border-2 rounded-full;
    &.btn-shadow {
      @apply shadow-btn;
    }
    &.btn-cerulean {
      @apply border-cerulean-300 bg-cerulean-500 shadow-cerulean-300 hover:bg-cerulean-400;
    }
    &.btn-pumpkin {
      @apply hover:bg-pumpkin-400 border-pumpkin-300 bg-pumpkin-500 shadow-pumpkin-300;
    }
  }
}

.grid-of-expertise {
  @apply bg-gradient-to-tr from-cod-gray-500 to-cod-gray-600;
  svg {
    @apply p-2 h-14 rounded bg-cod-gray-400 fill-white;
  }
}

a:not(.btn) {
  @apply hover:text-pumpkin-500;
}

@layer components {
  .badge {
    @apply inline-flex gap-2 items-center justify-center px-8 py-3 font-bold tracking-wide rounded-full;
    &.badge-cerulean {
      @apply bg-cerulean-500;
    }
    &.badge-pumpkin {
      @apply bg-pumpkin-500;
    }
  }
}

.custom-logo-link {
  @apply h-14 w-14;
  img {
    @apply rounded-full;
  }
}
.bg-cerulean-500,
.bg-cerulean {
  .uim-primary {
    @apply fill-cerulean-50;
  }
  .uim-secondary {
    @apply fill-cerulean-100;
  }
  .uim-tertiary {
    @apply fill-cerulean-200;
  }
  .uim-quaternary {
    @apply fill-cerulean-300;
  }
}
.bg-pumpkin-500,
.bg-pumpkin {
  .uim-primary {
    @apply fill-pumpkin-50;
  }
  .uim-secondary {
    @apply fill-pumpkin-100;
  }
  .uim-tertiary {
    @apply fill-pumpkin-200;
  }
  .uim-quaternary {
    @apply fill-pumpkin-300;
  }
}
.uim-primary {
  @apply fill-cerulean-500;
}
.uim-secondary {
  @apply fill-cerulean-400;
}
.uim-tertiary {
  @apply fill-cerulean-300;
}
.uim-quaternary {
  @apply fill-cerulean-200;
}
.entry-content,
.block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p,
  ul,
  ol {
    a {
      @apply underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}

.swiper.references .swiper-pagination-bullet-active {
  @apply bg-white;
}
.wpcf7 {
  @apply rounded-lg p-4 lg:p-8 border-2 border-cod-gray-400 bg-cod-gray-600 relative;

  input[type="submit"] {
    @apply justify-self-start cursor-pointer;
  }
  input:not([type="submit"]),
  textarea {
    @apply bg-transparent w-full px-4 py-3 leading-tight border-b-2 appearance-none rounded-t border-cod-gray-200;
    &:focus {
      @apply outline-none border-white bg-cod-gray-300;
    }
  }

  .wpcf7-form {
    @apply grid grid-cols-2 gap-4 @container;
    div {
      @apply flex items-center gap-2 col-span-2 @lg:col-span-1;
      &:nth-child(6) {
        @apply col-span-2 items-start;
      }
      svg {
        @apply shrink-0 w-9;
      }
    }
  }

  .wpcf7-form-control-wrap {
    @apply w-full;
  }

  .wpcf7-not-valid {
    @apply border-pumpkin-500;
  }

  .wpcf7-not-valid-tip {
    @apply font-semibold text-sm text-pumpkin-500 block mt-4;
  }

  .wpcf7-spinner {
    @apply !m-0 bg-cerulean opacity-100 self-center justify-self-end;
  }

  .wpcf7-response-output {
    @apply rounded-full border !border-cod-gray-300 justify-self-start !px-4 !py-3 text-sm font-bold !m-0 my-auto bg-cod-gray-500 !col-span-2;

    &.wpcf7-validation-errors {
      @apply !border-pumpkin-500 !text-pumpkin-500;
    }

    &.wpcf7-mail-sent-ok {
      @apply !text-cerulean !border-cerulean;
    }
  }
  .invalid .wpcf7-response-output {
    @apply text-pumpkin;
  }
  .sent .wpcf7-response-output {
    @apply text-cerulean;
  }
}
